* {
  margin: 0;
}

.header {
  background-color: rgb(42, 42, 104);
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.link {
  color: beige;
}

.nav-ul {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
}
.text {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
}
.mandely {
  margin-left: 39%;
}
p {
  font-size: 30px;
}
h4 {
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
h2{
  margin-top: 100px;
  text-align: center;
  padding-bottom: 20px;
}

.border {
  margin-left: 100px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-right: 200px;
  justify-content: center;
}
.border-l {
  background-color: bisque;
  border-radius: 17px;
  width: 270px;
  height: 400px;

  margin-bottom: 100px;
}
.border-l:hover {
  background-color: rgba(255, 255, 0, 0.548);
}
.border-green {
  margin-top: 90px;
  border-radius: 17px;
  background-color: rgb(47, 187, 42);
  width: 270px;
  height: 400px;
}
.border-red {
  margin-top: 90px;
  background-color: red;
  border-radius: 17px;
  width: 270px;
  height: 400px;
  margin-bottom: 150px;
}
.img {
  border-radius: 17px;
  padding-left: 10px;
  padding-top: 10px;
  width: 250px;
}
.button {
  margin: 15px;
  width: 20px;
  height: 20px;
}
.star {
  display: flex;
  justify-content: space-around;
}
.star-img {
  margin-top: 100px;
  width: 200px;
}
.star-a:hover {
  background-color: blue;
  border-radius: 50;
}
